/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mar-2017, 11.56.50
    Author     : Silvio Casula
*/

body 
{
  background-color: #ADFF2F;
  font-family: "Calibri";
}

a:link {
    color: black;
}

ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
}



input{
    border: 2px solid black;
    border-radius: 4px;
    background-color: whitesmoke;
    width: 75%;
    height: 35px;
    font-size: 30px;
    padding: 2px;
    margin: 10px;
}

input:focus {
    border: 3px solid red;
}
div#form{
    width: 33%; 
    border: 8px solid black;
    padding: 10px;
    margin-left: 33%;
}

a#pulsante:link, a#pulsante:visited {
    background-color: #f44336;
    color: white;
    font-size: 25px;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

a#pulsante:hover, a#pulsante:active {
    background-color: red;
}

div#sommario
{ 
    float: left;
    font-size: 30px;
    border-top:none;
    border-right: 8px solid black;
   border-bottom: 8px solid black;
   padding: 15px;
   padding-left: 0px;
}

h2#titolo
{
    font-size: 50px;
    text-align: center; 
}





div#sommario_profilo
{
    width: 30%;
    float: left;
    font-size: 30px;
    border-top: 0px;
    border-right: 5px solid black;
   border-bottom: 5px solid black;
   padding-right: 0px;
   padding-top: 10px;
   padding-bottom: 10px; 
   padding-left: 0px;
   display: inline-block;
   margin-right: 20px;
    border-collapse: collapse;

}
.people
{
    margin-bottom: 2px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

a.people:hover{
    color:white;
}

div#inserimenti_profilo
{
  margin-top: 20px;
  float:right;
  width: 33%;
  margin-right: 10%;
}

.dati_personali
{
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    width: 75%;
}

div#head_profilo
{width: 100%;
 float: left;
 height: 25%;
 padding-bottom: 0px;
 border-bottom: solid 5px black;
}

div#img_profilo
{
    margin-top: 20px;
    float:left;
    padding:0px;
    height: 200px;
    width: 220px;
}

h2#titolo_profilo
{
    width: 30%;
    font-size: 50px;
    text-align: left; 
    margin:0px;
    padding: 0px;
    display: inline-block;
    float:left;
}
   
a#button_bacheca:link, a#button_bacheca:visited {
    background-color: #ADFF2F;
    color: white;
    font-size: 25px;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 0px;
        float:left;

    border-left: 2px solid black;
    border-right: 2px solid black;}

a#button_bacheca:hover, a#button_bacheca:active {
    background-color:#03CE11;
}


a#button_aggiorna:link, a#button_aggiorna:visited {
    background-color: red;
    color: white;
    font-size: 25px;
    padding: 14px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    width: 70%;
}

a#button_aggiorna:hover, a#button_aggiorna:active {
    background-color:red;}


a#button_act_profilo:link {
    background-color: #ADFF2F;
    color: white;
    font-size: 25px;
    float:left;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    border-left: 2px solid black;   
}
a#button_act_profilo:hover, a#button_bacheca:active, a#button_act_profilo:visited {
    background-color:#03CE11;
        color: white;
            border-left: 2px solid black;   


}